<meta http-equiv="refresh" content="5; URL=/">
<main role="main" class="container">
	<div class="jumbotron">
		<div class="row justify-content-md-center">
			<div class="col-md-3">
				<p style="text-align: center">
					<img src="/img/loading.gif" style="width:50%"/>
				</p>
			</div>
    		<div class="col-md-6">
				<h1>Computer busy</h1>
				<p class="lead">Please wait before sending next command...</p>
    		</div>
    	</div>
	</div>
</main>
